<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login</title>
</head>
<body>
	<h1 align="center">LOGIN</h1>
	<form method="post">
		<table align="center">
			<tr><td></td>
				<td>USERNAME</td>
				<td><input type="text" name="user" placeholder="username"></td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr><td></td>
				<td>PASSWORD</td>
				<td><input type="PASSWORD" name="pass" placeholder="password"></td>
			</tr>
			<tr></tr>
				<tr></tr>
				<tr>
					<td></td><td></td>
				<td>&nbsp&nbsp&nbsp&nbsp<input type="submit" name="login" value="LOGIN"></td>

			</tr>
			<tr></tr>
			<tr><td></td>
				<td><input type="submit" name="reg" value="REGISTER"></td>
				
				<td align="right"><input type="button" name="req" value="REQUEST"></td>
			</tr>
		</table>
	</form> 

</body>
</html>