{% extends 'temp/adminhome.html' %}
{% block base %}
	<h1 align="center"><u>MANAGE STUDENT</u></h1>
{#	<form method="post">#}
		<table  class="table table-bordered text-center" align="center">
			<tr row="5">
				<td>Student Id</td>
				<td>Name</td>
				<td cols="21" row="10">Student</td>
				<td>Email Id</td>
				<td>Phone No</td>
				<td>Blood Type</td>
				<td>Action</td>
			</tr>
                {% for i in objj %}

            <tr>
				<td>{{ i.stud_id }}<td>
                <td>{{ i.full_name }}</td>
                <td>{{ i.email_id}}</td>
                <td>{{ i.phone_no }}</td>
                <td>{{ i.blood_type }}</td>
                <td>
					<a href="">Accept</a><br>
					<a href="{% url 'reject' idd=i.stud_id %}">Reject</a>
				</td>
			</tr>
                {% endfor %}


		</table>
{#	</form>#}

{% endblock %}